# Unit 3.3: Advanced Pandas

This notebook is based on Anna-Lena Lamprecht's CoTaPP repository (https://github.com/annalenalamprecht/CoTaPP). Some modifications were made.

Last time we discussed file I/O and the basics of Pandas.

Now we have a look at more use cases of Pandas. Always keep in mind that in the lecture we can only discuss a few selected examples, so refer to the respective online documentation for full reference.

Next time we will learn about data visualization with ```matplotlib```.

## Pandas

The most important things to know about Pandas we have already covered in the last lecture: how to use Pandas to read content from CSV files, the ```DataFrame``` and ```Series``` data structures, indexing operations and basic plotting and statistics functions for data frames and series. Please refer to the [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) for further details, as we cannot cover the library in depth in this course. 

In this lecture we address some other important aspects: 

* handling of missing data

* grouping rows by a certain column

### Handling Missing Data

For various reasons it can happen that data are missing in a data frame. They might, for example, already have been missing in the input CSV file due to measurement faults, or have become unavailable because of computations that were not able to return a (good) result.
In Pandas the value ```np.nan``` (technically of type ```float```) is the primarily used value for representing missing data. This can look as follows:

In [ ]:
import pandas as pd

df = pd.read_csv("data/table-with-missing-data.csv", sep=";")
print(df)

By default, Pandas operations simply ignore ```NaN``` values. That is, they simply carry out the computation on the available data in the data frame or series, and/or propagate ```NaN``` values if a meaningful result cannot be derived. For example:

### Challenge!

What do you expect should happen when you compute the average age?

![](img/activity_small.png)

In [ ]:
print(df.describe())

### Challenge!

What do you expect should happen when you add 1 to each person's age?

![](img/activity_small.png)

If such behavior is not wanted, the data frame or series can be manipulated accordingly before applying the operations. One option is to remove rows or columns with missing data completely by using the ```dropna()``` function. The following example shows how to drop all rows where any data are missing, and how to drop all rows where age or height data are missing:

In [ ]:
print(df.dropna())
print("----------")
print(df.dropna(subset=["age", "height"]))

Another possibility is to replace the ```NaN``` values by other/better values:

In [ ]:
print("-----Replaced all missing values with 0-----")
print(df.fillna(0))
print("-----Replaced all missing ages and heights with 0-----")
print(df.fillna(value={"age":0, "height":0}))
print("-----Replaced all missing ages and heights with mean values-----")
print(df.fillna(value={"age":df["age"].mean(), \
                       "height":df["height"].mean()}))

**Extra:** In some cases also Pandas’ ```interpolate()``` function can be used to come up with values to fill in for missing data. Of course, replacing missing data with values should always be done with great care, as there is a risk of producing distorted or even wrong results when adding data to a data set. Generally, the choice how to handle missing data depends on the specifics of the concrete case, but it is good to know about the different options.

### Grouping

Suppose you have a dataset containing information about students, including their names, grades, and subjects. You want to calculate the average grade for each subject. 

### Challenge!

How do you do this with the methodologies learnt so far?

![](img/activity_small.png) 

#### Pandas `groupby`

You can use the groupby function in pandas to group the data by subject and then calculate the average grade for each group.

In [ ]:
import pandas as pd

# Create a sample dataset
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science', 'Science'],
    'Grade': [85, 92, 78, 90, 88, 95]
}

df = pd.DataFrame(data)

# Group the data by subject and calculate the average grade
grouped = df.groupby('Subject')['Grade'].mean()

print(grouped)

We can access the groups in a loop if we want to calculate other more complicated functions:

In [ ]:
group_by_subject = df.groupby('Subject')
print(type(group_by_subject))

for lbl, grp in group_by_subject:
    print(lbl, type(grp))
    print(grp)
    # Perform whatever operation you want on grp

We can see that the label ```lbl``` corresponds to the unique values of the column "Subject", while each of the groups is of type ```DataFrame```. We might want to retrieve the name of the student who scored the highest grade on each subject:

In [ ]:
for lbl, grp in df.groupby('Subject'):
    sorted_by_grade = grp.sort_values('Grade', ascending=False)
    names_sorted_by_grade = sorted_by_grade['Name'].tolist()
    name_of_highest_grade = names_sorted_by_grade[0]
    print(lbl, name_of_highest_grade)

## Exercises

### Analysis of the McDonald’s Menu (★★★★☆)
This exercise is a variation of one that Dr. Adrien Melquiond (Utrecht Bioinformatics Center) developed in the scope of another Python course. It uses the Pandas library to analyze the dataset in the file `mcdonalds_menu.csv`, which provides a nutrition analysis of every menu item on the US McDonald's menu (including breakfast, beef burgers, chicken and fish sandwiches, fries, salads, soda, coffee and tea, milkshakes, and desserts). These data have been scraped from the McDonald's website. The assignment is basically about exploring how much fat and other nutrients contained in McDonald’s food. 

Write a program that reads the content of the file into a data frame, displays simple descriptive statistics about the numerical values in the data frame, and then answers the following questions (you might need Google’s help for some).

#### 1. What do we have on the menu? 
How many different items do we have on the menu? Print the number of items per category. Which category is the most represented in this menu?

The output should look something like:

    Total number of items: 260
    Category
    Beef & Pork           15
    Beverages             27
    Breakfast             42
    Chicken & Fish        27
    Coffee & Tea          95
    Desserts               7
    Salads                 6
    Smoothies & Shakes    28
    Snacks & Sides        13
    Name: Item, dtype: int64
    Top category: Coffee & Tea

#### 2. Is there anything healthy on the menu?
Search for items with 0 'Trans fat' and 'Cholesterol (% Daily Value)', and maximum 20 'Sugars' and 'Total Fat (% Daily Value)'. Sort the healthy items per calories in descending order. Remove from this healthy data frame all the drinks (beverages, coffee & tea).

The output should look something like:

![](img/mcdo_q3.png)

#### 3. What are the 10 items that have the highest content of Vitamin C?
Citrus fruits are the high source of Vitamin C. For adults, the recommended dietary reference intake for vitamin C is 65 to 90 milligrams (mg) a day, and the upper limit is 2,000 mg a day. Show the 'Vitamin C (% Daily Value)' for the ten items that contain the highest amount of vitamin C.

## Extras
The Anaconda website offers a number of *Learning Python For Data Science* [cheat sheets](https://www.anaconda.com/learning-python-data-science-cheat-sheets). Print out those that could be useful for quick reference when working on a project. In particular, that might be the cheat sheets about [Python basics](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PythonForDataScience.pdf) and [Pandas basics](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf), but there are some more that you might find interesting.